{
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "rules": {
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to"]
      }
    ],
    "import/no-named-as-default": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-param-reassign": ["off", { "props": false }],
    "allowShortCircuit": true,
    "allowTernary": true,
    "class-methods-use-this": 0,
    "import/extensions": ["error", "never", { "packages": "always" }],
    "linebreak-style": 0,
    "no-console": 0,
    "no-restricted-globals": "warn",
    "prefer-destructuring": 0,
    "prettier/prettier": "error",
    "quote-props": [
      "error",
      "as-needed",
      { "keywords": true, "unnecessary": false }
    ],
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 1
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": ["import", "react", "prettier"],
  "globals": {
    "document": true,
    "navigator": true,
    "window": true
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
